<div class="row">
  <div class="large-9 columns">
    <h2>{{title}}</h2>
    <h5>{{formatDate publishedAt format="MMMM Do, YYYY"}}</h5>
    {{{body}}}
  </div>
  <div class="large-3 columns">
  </div>
</div>

